div {
    background-color: lightblue;
    border-radius: 15px;
    border-left-color: blue;
    border-left-style: solid;
    border-left-width: 9px;
    padding: 26px;
    margin: 40px;
}

h4 {
    font-weight: 100px;
}

img {
    width: 800px
}

p {
    font-weight: 100;
}